$main-dark-color: #1d1d1d;
$accent-color: #e34d4d;
$secondary-txt-color: #404040;
$light-gray-color:  #929292;
$dark-gray-color: #5a5a5a;
$accent-color-hover: #ffd2d2;
$accent-color-reverse-hover: #940000;

