@import "../../../../variables";

.nothing-found {
  height: 100%;
  color: $light-gray-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  margin-top: -40px;

  &__text {
    text-align: center;
    font-size: 14px;
  }

  &__icon {
    font-size: 75px;
  }

  &__zoom-button {
    text-decoration: underline;
    font-size: 14px;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      color: $accent-color;
    }
  }
}
