@import "../../../../variables";

.nothing-found {
  height: 100%;
  color: $light-gray-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  margin-top: -40px;

  &__text {
    text-align: center;
  }

  &__icon {
    font-size: 75px;
  }
}
