@import "../../variables";
@import "../../mixins";

.header {
  border-bottom: 1px solid #e8e8e8;
  height: 60px;
  position: relative;
  z-index: 6;

  &__content {
    height: 100%;
    padding: 0 35px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #fff;
  }

  &__logo {
    height: 30px;

    @include for-tablet {
      height: 40px;
    }
  }

  &__nav-button {
    @include for-tablet {
      display: none;
    }
  }
}

.nav {
  position: absolute;
  left: 0;
  z-index: -1;
  background-color: #fff;
  width: 100vw;
  padding: 10px 0 30px;
  border-top: 1px solid #d1d1d1;
  box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-100%);
  top: -100%;
  transition: all 0.2s;

  @include for-tablet {
    z-index: unset;
    position: unset;
    transform: unset;
    left: unset;
    background-color: unset;
    box-shadow: unset;
    width: unset;
    padding: 0;
    border-top: unset;
    height: 100%;
  }

  &--open {
    top: 100%;
    transform: translateY(0);

    @include for-tablet {
      top: unset;
      transform: unset;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    max-height: calc(100vh - 60px);

    @include for-tablet {
      display: flex;
      width: 100%;
      height: 100%;
      max-height: unset;
      overflow: unset;
    }
  }

  &__item {
    text-transform: uppercase;
    padding: 0 20px;
    font-weight: 500;
    font-size: 18px;
    text-align: left;

    @include for-tablet {
      height: 100%;
      font-size: 12px;
      margin-left: 5px;
      font-weight: 400;
      padding: 0;
      text-align: center;
    }

    @include for-desktop {
      font-size: 14px;
      margin-left: 10px;
      font-weight: 500;
    }
  }

  &__link {
    text-decoration: none;
    color: $dark-gray-color;
    transition: all 0.2s;
    height: 100%;
    width: 100%;
    display: block;
    padding: 15px 0;
    position: relative;
    border-bottom: solid 1px rgba(0,0,0, 0.12);

    @include for-tablet {
      padding: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: unset;

      &::before {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: 0;
        background-color: transparent;
        transition: all 0.2s;
      }

      &:hover {
        color: #000000;
        background-color: $bright-gray-color;

        &::before {
          background-color: $accent-color-hover;
        }
      }

      &.active {
        color: #000000;
        background-color: $bright-gray-color;

        &::before {
          background-color: $accent-color;
        }
      }
    }
  }
}
